.header
  background-color: #000000
  opacity: 0.8
  max-width: 1250px
  margin: 0 auto
  text-align: center

.header__nav
  display: inline-block

.header__list
  display: flex
  //justify-content: space-around

  li
    padding: 44px 24px 33px
    &:hover
      background-color: #ff3f40

.header__link
  font-size: 14px
  line-height: 24px
  font-family: $font_main
  text-transform: uppercase
  color: #e0e0e0


