header.header
  .container
    .header__nav
      ul.header__list
        li: a.header__link(href="#") Home
        li: a.header__link(href="#") Portfolio
        li: a.header__link(href="#") About us
        li: a.header__link(href="#") Contact

