.header

.header__nav
  background-color: rgba(#000, 0.8)
  text-align: center

.header__list
  display: inline-block
  padding-right: 50px

.header__list > li
  display: inline-block
  vertical-align: top

  &:not(:last-child)
    margin-right: 10px

.header__list > li > a
  display: block
  padding: 38px 22px 27px
  font-weight: $font_bold
  letter-spacing: 0.5px
  transition: background-color 0.3s

  &:hover,
  &:focus
    background-color: #ff3f40

.header__link
  font-size: 14px
  line-height: 24px
  font-family: $font_main
  text-transform: uppercase
  color: #e0e0e0


