header.header
  .container
    nav.header__nav
      .header__place
        .header__trigger
          span.header__trigger--line
      ul.header__list
        li: a.header__link(href="#") Home
        li: a.header__link(href="#") Portfolio
        li: a.header__link(href="#") About us
        li: a.header__link(href="#") Contact
