.introduces
  .container.container--double
    .introduces__header
      .introduces__logo
        h1.introduces__title theyallow
          span.introduces__author craft by css author.com

      nav.introduces__nav
        ul.introduces__list
          li.introduces__list-item
            a(href="#").introduces__nav-link about us
          li.introduces__list-item
            a(href="#").introduces__nav-link services
          li.introduces__list-item
            a(href="#").introduces__nav-link contact

    .introduces__content
      .introduces__video
        img(src="images/double/introduces/video.png").video__pic

      .introduces__features
        h2.introduces__desc.introduces__desc--yel The cool
        h2.introduces__desc The minimal
