.advantages
  .container
    .advantages__content

      .advantages__left
        h2.advantages__title do you know we can provide for you ?
        p.advantages__description Lorem ipsum dolor sit amet, consectetur
          |adipis cing elit, sed do eiusmod tempor
          |incididunt ut labore et.Lorem ni ipsum
          |dolor sit amet, consectetur adipis cing
          |elit, ed doi eiusmod tempor incididunt ut labore et.
        button.advantages__button Learn More

      .advantages__right

        .advantages__item.advantages__item--prop
          .advantages__item-title Management
          .advantages__item-description Lorem ipsum dolor sitea amet, zixf
            |conseit  adipi cing elit, seddi do eiusmod
            |btdempor in didunt utlae ore etioe.Lorem ipsum new idolor

        .advantages__item.advantages__item--pen
          .advantages__item-title UI /UX Design
          .advantages__item-description Lorem ipsum dolor sitea amet, zixf
            | conseit  adipi cing elit, seddi do eiusmod
            | btdempor in didunt utlae ore etioe.Lorem ipsum new idolor

        .advantages__item.advantages__item--diam
          .advantages__item-title Logo / Branding
          .advantages__item-description Lorem ipsum dolor sitea amet, zixf
            | conseit  adipi cing elit, seddi do eiusmod
            | btdempor in didunt utlae ore etioe.Lorem ipsum new idolor

        .advantages__item.advantages__item--car
          .advantages__item-title Animation
          .advantages__item-description Lorem ipsum dolor sitea amet, zixf
            | conseit  adipi cing elit, seddi do eiusmod
            | btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
