.edges
  .container.container--double
    .edges__content
      .edges__item
        h4.edges__prop better design
      .edges__item
        h4.edges__prop customize
      .edges__item
        h4.edges__prop Its Free
