extends /layout/app

block content
  .home
    section.home__introduce
      include ./introduce/index

    section.home__advantages
      include ./advantages/index

    .home__header
      .container
        h2.home__title feature products
        h4.home__subtitle Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.

    section.home__gallery
      include ./gallery/index

    .home__header.home__header--left
      .container
        h2.home__title Meet our team
        h4.home__subtitle Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.

    section.home__team
      include ./team/index

    section.home__mailing
      include ./mailing/index

    .home__header.home__header--left.home__header--width
      .container
        h2.home__title get in touch
        h4.home__subtitle Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit,
          | sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.

    section.home__mailus
      include ./mailus/index




