.home

.home__header
  padding-top: 92px
  text-align: center
  padding-bottom: 83px

  +media($laptop_md)
    padding-bottom: 50px
    padding-top: 50px

.home__title
  opacity: 0.8
  color: #000000
  font-family: $font_main
  font-size: 42px
  font-weight: $font-bold
  text-transform: uppercase
  letter-spacing: 0.38px
  margin-bottom: 16px

  +media($tablet)
    font-size: 35px
    margin-bottom: 10px

.home__subtitle
  color: rgba(#000, 0.7)
  font-family: $font_main
  font-weight: $font-regular
  font-size: 16px
  line-height: 28px
  padding: 0px 470px
  padding-bottom: 23px
  position: relative

  &:after
    content: ""
    display: block
    height: 2px
    width: 130px
    background-color: $color_theme
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%)

  +media($laptop_md)
    padding: 0
    padding-bottom: 20px

.home__header--left
  text-align: left
  padding-bottom: 0

  .home__title
    margin-bottom: 30px

    +media($tablet)
      margin-bottom: 10px

  .home__subtitle
    padding: 0
    padding-bottom: 48px
    max-width: 450px

    +media($tablet)
      max-width: unset
      padding-bottom: 20px

    &:after
      left: 0
      transform: translate(0)

.home__header--width

  .home__subtitle
    max-width: 720px
