extends /layout/app

block content
  .home
    section.home__introduce
      include ./introduce/index

    section.home__advantages
      include ./advantages/index

    .home__header
      .home__title feature products
      .home__subtitle Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
      .home__line

    section.home__gallery
      include ./gallery/index


