.mailus

  .container

    .mailus__title get in touch

    .mailus__description Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur
      |adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.

    .mailus__line

    .mailus__content

      .mailus__form

        input(type="text", placeholder="Name").mailus__input

        input(type="text", placeholder="Your Mail").mailus__input

        textarea(placeholder="Type your message").mailus__msg

        button.mailus__btn
          |Send message

      .mailus__info

        h3.mailus__info-title contact info

        p.mailus__info-text Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh


        p.mailus__info-text redwan@deviserweb.com

        p.mailus__info-text (+88) 017 617 46373



