.mailus
  .container
  .mailus__content
    .container
      form.mailus__form
        .mailus__inputs
          input(type="text", placeholder="Name" name="name").mailus__input
          input(type="email", placeholder="Your Mail" name="email").mailus__input
        textarea(placeholder="Type your message").mailus__msg
        button.mailus__btn Send message

    .mailus__info
      h3.mailus__info-title contact info
      p.mailus__info-text Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh
      a(href="mailto:redwan@deviserweb.com").mailus__info-mail redwan@deviserweb.com
      a(href="tel:(+88) 017 617 46373").mailus__info-number (+88) 017 617 46373



