.gallery


.gallery__list
  display: flex
  justify-content: space-around
  padding: 0 148px

  a
    font-size: 22px
    line-height: 24px
    text-transform: uppercase
    letter-spacing: 0.22px
    opacity: 0.7
    color: #000000
    &:hover
      color: #ff2d2d
      opacity: 1

.gallery__items
  padding-top: 30px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.gallery__item
  width: 300px
  padding-top: 20px

  img
    max-width: 100%
    max-height: 100%
