.gallery

  .container

    .gallery__nav
      ul.gallery__list
        li: a.gallery__link(href="#") all
        li: a.gallery__link(href="#") print template
        li: a.gallery__link(href="#") web template
        li: a.gallery__link(href="#") user interface
        li: a.gallery__link(href="#") mock-up

