.introduce

  .container

    .introduce__content

      .introduce__left

        h1.introduce__title our strong
          span.introduce__title-inner organaisation

        p.introduce__description Lorem ipsum dolor sit amet, consectetur
          |adipis cing elit, sed do eiusmod tempor
          |incididunt  ut labore et. ectetur adig ipis
          |cing elit, sed do eiusmod tempor incididunt.

        button.introduce__button
          |Contact Us

      .introduce__right
        video.introduce__video
