.team
  .container
    .team__content

      .team__leader-pic
        img(src="images/team/leader.jpg")

      .team__right
        .team__name mark waugh
        p.team__info Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.

        ul.team__socials
          li: a.team__link(href="#") Facebook
          li: a.team__link(href="#") Dribble
          li: a.team__link(href="#") Behance
          li: a.team__link(href="#") Twitter

        .team__members
          .team__member
            img(src="images/team/leader.jpg")
            p.team__member-name sokina jue
          .team__member
            img(src="images/team/leader.jpg")
            p.team__member-name sokina jue
          .team__member
            img(src="images/team/leader.jpg")
            p.team__member-name sokina jue
          .team__member
            img(src="images/team/leader.jpg")
            p.team__member-name sokina jue


