.mailing

  .container

    h2.mailing__title Design tips, tricks, and freebies. Delivered weekly.

    p.mailing__sub Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.

    .mailing__subscribe

      input(type="text", placeholder="Email Address...").mailing__input

      button.mailing__btn
        |subscribe

