.mailing

  .container

    h2.mailing__title Design tips, tricks, and freebies. Delivered weekly.

    p.mailing__sub Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.

    form.mailing__subscribe

      input(type="email", placeholder="Email Address..." required name="email").mailing__input

      button.mailing__btn subscribe


