.footer
  background-color: #313030

.footer__content
  display: flex
  justify-content: space-between
  padding: 55px 0 35px 0

.footer__text
  color: #b8b8b8
  font-size: 16px
  line-height: 26px

.footer__links
  width: 185px
  height: 33px
  img
    max-width: 100%
    max-height: 100%
